
<div class="well">
  <img src="http://static.tumblr.com/65bee46023d8af46bc43a1115383bf35/wuszx76/7YTmupij0/tumblr_static_logo.png">
</div>

<div class="col-md-12">
  <div class="btn-group" role="group" aria-label="mix options">
    <button class="btn btn-primary" id='load_mixes'>What's HOT?</button>
  </div>
<div>

<br>

<div class="col-md-4">
  <ul id="mix-list">
  </ul>
</div>

<div class="col-md-8">
  <div class="welcome">
  Click on a mix to see details
  </div>
  <div id="mix-info">
    <a><img id="mix-image"></a>
  </div>
</div>
